///////
//
// Import any variables from your site here
@use "@/style/globals.scss" as *;
//
///////

.header {
  background-color: rgba($background-secondary, 0.8);

  &__menu {
    @media (max-width: 768px) {
      background-color: $background;
    }

    ul {
      list-style: none;
    }
  }
}
