///////
//
// Import any variables from your site here
@use "@/style/globals.scss" as *;
//
///////

.header {
  &__inner {
    background-color: rgba($background-secondary, 0.8);
  }

  &__menu {
    background-color: $background;
    ul {
      list-style: none;
    }
  }
}
